/* Basic styling for the form */

.body-form {
  width: 100%;
  min-height: 100vh; /* تعديل هنا من 100vh إلى min-height */
  display: flex; /* إضافة flexbox لتوسيط المحتوى */
  justify-content: center; /* لتوسيط المحتوى أفقيًا */
  align-items: center; /* لتوسيط المحتوى رأسيًا */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://img.freepik.com/free-photo/clipboard-with-ribbons-candles_23-2147628613.jpg?t=st=1744196468~exp=1744200068~hmac=3aa0cd2d21df5771f1f0183ec3ff8139d0ed95c9fafd8f0642076f82f045ffbb&w=1380');
}

.body-form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* الظلال الغامقة */
  z-index: -1; /* تأكد من أن الظلال تكون في الخلفية */
}

.form-container {
  max-width: 400px;
  width: 100%;
  padding: 60px;
  background-color: #f9f9f99c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  width: 95%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button.submit-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #2593dd;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.submit-btn:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .form-container {
    margin: 120px 20px;
    padding: 40px 20px;
  }

  h2 {
    font-size: 24px;
  }

  input {
    width: 100%;
    font-size: 15px;
  }

  button.submit-btn {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .form-container {
    margin: 80px 15px;
    padding: 25px 15px;
  }

  h2 {
    font-size: 20px;
  }

  input {
    padding: 6px;
    font-size: 14px;
  }

  button.submit-btn {
    padding: 8px;
    font-size: 14px;
  }
}
